body {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
}

header {
  display: flex;
  padding-top: 13px;
  border-bottom: 1px solid lightgray;
  background: #15171b;
  font-size: 13px;
  justify-content: space-between;
}
svg {
  fill: white;
}
.header-left {
  display: flex;
  margin-top: 2px;
  margin-left: 32px;
}
.logo {
  margin-right: 18px;
  cursor: pointer;
}
.logo img {
  height: 32px;
  filter: brightness(0) invert(100%);
  -webkit-filter: brightness(0) invert(100%);
}
.search-bar {
  display: flex;
  height: 30px;
  width: 268px;
  border-radius: 5px;
  background-color: #06090c;
  justify-content: space-between;
}
.search-bar input {
  margin-left: 1px;
  border: none;
  border-radius: 5px;
  background-color: #06090c;
  color: white;
  flex: 1;
}
.search-bar-icon {
  width: 18px;
  height: 18px;
  margin: auto 8px;
  border: 1px solid #444;
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  color: #888;
}
@keyframes stretch {
  to {
    width: 535px;
  }
}
.search-bar:focus-within {
  border: 1px solid #0f5cd4;
  border-radius: 5px;
  animation-name: stretch;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.search-bar input::placeholder {
  color: #bbb;
}
.search-bar input:focus {
  outline: none;
}
.menu {
  display: flex;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px;
  list-style-type: none;
}
.menu-item {
  padding: 0px 8.5px;
  cursor: pointer;
}
.menu-item:hover {
  opacity: 0.6;
}
.header-right {
  display: flex;
  height: 50px;
  margin-right: 25px;
  justify-content: space-between;
}
.header-right-item {
  padding: 0 8px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
.header-right-item:hover {
  opacity: 0.6;
}
.dropdown-caret {
  display: inline-block;
  height: 0;
  width: 0;
  margin-top: 7px;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top-style: solid;
  border-top-width: 4px;
  vertical-align: top;
  content: "";
}
.avatar {
  border-radius: 50%;
}
.caret2 {
  margin-top: 9px;
}
